.btn .btn-primary{
 background-color: #4E31AA;
 border-color: #4E31AA;
 color: #F7F7F8;
}

.profile-name{
  color:#3795BD;
  font-weight: bold;
}


.profile-pic{
  width: 10px;
  height: 10px;

}
.tag-selector {
  display: none;
}

.tag-selector-label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 20px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #e0e0e0;
  }
}

.tag-selector:checked + .tag-selector-label {
  background-color: #4E31AA;
  color: #fff;
}

.btn-custom {
  background-color: #3795BD;
  color: white;
  border: #4E31AA;
}
.btn-custom:hover {
  background-color: #3795BD;
  color: white;

}

.badge.bg-primary {
  background-color: #4E31AA !important;
  color: #fff !important;
}
.sidebar {
  height: 100vh;
  position: fixed;
}



.nav-link:hover {
  color: #e5cbf0;
}

.profile-name {
  color: #3795BD;
}

.nav-link1 {
  background-color: #3795BD  !important;;
  color: white  !important;;
  border-radius: 5px  !important;;
}
.nav-link1:hover {
  color: #e5cbf0;
}

h1{
  font-size: 2.5rem;
  color: #4E31AA;
  font-weight: 600;
}


.achievements-header {
  padding: 1rem 0;
  border-bottom: 2px solid #ddd;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.5rem;
    color: #4E31AA; // Dark purple for a strong headline
    font-weight: 600;
  }

  .btn-add {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    background-color: #4E31AA; // Primary color for consistency
    color: white;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: #4E31AA;
      transform: translateY(-2px);
    }

    &:active {
      background-color: #4E31AA;
      transform: translateY(0);
    }
  }
}
